@model RMA_Docker.Models.RoleViewModel
@{
    ViewBag.Title = "ListRoles";
    RMA_Docker.Classes.AccessControl aC = new RMA_Docker.Classes.AccessControl();
    var uName = Context.User.Identity.Name;
}

<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <h4 class="text-info">Account - Roles</h4>
                <h6>Listing all roles</h6>
            </li>
        </ul>
    </div>
</nav>

<div>
    <hr />
    <div class="w-100 p-1">
        @if (aC.AccessAccountNewRole(uName)) {
            @Html.ActionLink("New Role", "CreateRole", null, new { @class = "btn btn-outline-success float-right" })
        }
    </div>
    <div class="mt-5">
        <table id="rolesDiv" class="table table-striped table-bordered" style="width:100%">
            <tbody>
                <tr>
                    <td>No Records</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- DataTable JS -->
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({url: '@Url.Action("ListRoles")',type: 'POST',data: JSON.stringify({ userName: "@uName" }),dataType: 'json',contentType: "application/json; charset=utf-8",success: function (result) {$('#rolesDiv').DataTable({destroy: true,info: false,order: [0, "asc"],data: result.Data,columns: [{ data: "NewRoleName", title: "Role Name" }, { data: "Description", title: "Description" }, {data: null, render: function (data) { var link = '@Html.ActionLink("Edit", "EditRole", new { roleName = "_Data" }, new { @class = "btn btn-outline-info" })'
                link = link.replace(/\_Data/g, data.NewRoleName); var link2 = '@Html.ActionLink("Delete", "DeleteRole", new { roleName = "_Data" }, new { @class= "btn btn-outline-warning ml-1", onclick= "return confirm(\"Remove Role _Data  permanently? \")" })'
                link2 = link2.replace(/\_Data/g, data.NewRoleName); return link + " " + link2;}, targets: -1, title: "Actions" },],aoColumnDefs: [{ "width": "150px", targets: 2 },{ bSortable: false, aTargets: [1,2] }]});},error: function (result) { console.log(result); }
        });

    });
</script>