@model RMA_Docker.Models.TemplateKeywords
@{
    ViewBag.Title = "DCE - Generate Keywords";
}

<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <h4 class="text-info">@ViewBag.Title</h4>
                <h6></h6>
            </li>
        </ul>
    </div>
</nav>

<!-- DataTable JS -->
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>

<div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <input type="hidden" id="templateVirtualPath" name="virtualPath" value="@Model.Template.VirtualPath" />

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-auto">
                    <!-- <input type="submit" value="Save" class="btn btn-outline-success" /> -->
                    @Html.ActionLink("Back to Previous", "AddDocument", null, new { @class = "btn btn-outline-secondary" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Document Type", new { @class = "control-label col-md-auto" })
                <div class="form-inline col-md-offset-2 col-md-auto">
                    <input id="_TemplateDocumentType" type="text" name="templateDocType" value="@Model.Template.DocumentType" class="form-control col-md-4" />
                    <input id="_SaveDocType" type="submit" name="submit" value="Update" class="btn btn-outline-success ml-3" onclick="return " />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TemplateOCRContent, new { @class = "control-label col-md-auto" })
                @{ if (Model.SkipPages != "")
                    { <span class="small text-black-50 text-info">- with skipped page(s) at @Model.SkipPages</span> } }
                <div class="col-md-auto">
                    @Html.TextAreaFor(model => model.TemplateOCRContent, new { id = "ocrContentTextArea", @class = "form-control", @style = "height:200px;", @readonly = "true" })
                </div>
            </div>

            <div class="form-group mt-4">
                <div class="col-md-offset-2 col-md-auto border-top pt-2">
                    <input type="submit" name="submit" value="Added Keywords" class="btn btn-outline-primary add-tooltip" data-original-title="Display all keywords" data-toggle="tooltip" />
                    <input type="submit" name="submit" value="System Generation" class="btn btn-outline-primary add-tooltip" data-original-title="Generate Keywords among uploaded templates" data-toggle="tooltip" />
                    <span data-toggle="modal" data-target="#KeywordCheckerModal">
                        <input type="button" value="Keyword Checking" class="btn btn-outline-primary add-tooltip" data-original-title="Input Keyword to check the Term Frequecy (Among All Templates)" data-toggle="tooltip" />
                    </span>
                </div>

                <div class="col-md-auto mt-3">
                    @{
                        if (Model.Keywords == null) {
                            <table id="dceKeywordDiv" class="table table-striped table-bordered" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>No Records</td>
                                    </tr>
                                </tbody>
                            </table>
                        } else {
                            if (!Model.GeneratedBySystem) { <div class="text-info btn p-0" id="downloadGeneratedDataInJson"><h6 class="small">Download Json</h6></div> }
                            <table id="dceKeywordDiv" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Keyword</th>
                                        @if (!Model.GeneratedBySystem) { <th>Rank</th> } 
                                        else { <th>Term Frequecy (Among All Templates)</th>}
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var keyword in Model.Keywords) {
                                        <tr>
                                            <td>@keyword.Keyword</td>
                                            @if (Model.GeneratedBySystem) {
                                                <td>@keyword.GeneratedTFRate%</td>
                                                <td>
                                                    @if (!keyword.AddedFlag) {
                                                        <a href="#" class="btn btn-outline-success" id="keywordAdd" data-keywordval="@keyword.Keyword" data-tfrate="@keyword.GeneratedTFRate"><span>Add Keyword</span></a>
                                                    }
                                                </td>
                                            } else {
                                                <td contenteditable="true" id="_editableRank" class="add-tooltip text-info" data-original-title="Edit the Value and update to Server" data-toggle="tooltip">@keyword.Rank</td>
                                                <td>
                                                    <a href="#" class="btn btn-outline-info add-tooltip d-none" id="keywordRename" data-oldRankVal="@keyword.Rank" data-keywordVal="@keyword.Keyword" data-original-title="Update the Rank to Server" data-toggle="tooltip"><span>Update Rank</span></a> <a href="#" class="btn btn-outline-danger" id="keywordDelete" data-keywordVal="@keyword.Keyword"><span>Delete</span></a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <script>
                                $(function () {
                                    var jsDataTable = $('#dceKeywordDiv').DataTable({destroy: true,info: false,order: [[1, "desc"]],aoColumnDefs: [ { "width": "230px", targets: 2 }, { bSortable: false, aTargets: [2] }]});

                                    $('#downloadGeneratedDataInJson').on('click', function () {
                                        var path = '@Url.Action("DownloadDCETEmplateJson")' + '/?virtualPath=@Model.Template.VirtualPath';
                                        window.location.href = path;
                                    });

                                    $('#dceKeywordDiv').on('click', 'a#keywordAdd', function (event) {
                                        event.preventDefault();
                                        $.ajax({url: '@Url.Action("AddKeyword")',type: 'POST',data: JSON.stringify({fileID: "@Model.Template.FileID",userName: "@Context.User.Identity.Name",keyword: $(this).data("keywordval"),rank: $(this).data("tfrate")}),dataType: 'json',contentType: "application/json; charset=utf-8",success: function (result) { },error: function (result) { }});
                                        $(this).hide();
                                    });

                                    $('#dceKeywordDiv').on('click', 'a#keywordDelete', function (event) {
                                        if (confirm("Delete this Keyword permanently?")) {
                                            event.preventDefault();
                                            jsDataTable.row($(this).parents('tr')).remove().draw();
                                            $.ajax({ url: '@Url.Action("DeleteKeyword")', type: 'POST', data: JSON.stringify({ fileID: "@Model.Template.FileID", userName: "@Context.User.Identity.Name", keyword: $(this).data("keywordval"), rank: $(this).data("tfrate") }), dataType: 'json', contentType: "application/json; charset=utf-8", success: function (result) { }, error: function (result) { } });
                                        }
                                        return false;
                                    });

                                    $('#dceKeywordDiv').on('keydown', '#_editableRank', function (event) {
                                        $(this).parents('tr').children('td:has(a)').children('#keywordRename').removeClass("d-none");
                                    });

                                    $('#dceKeywordDiv').on('click', 'a#keywordRename', function (event) {
                                        var newRankVal = $(this).parents('tr').find('td#_editableRank').text();
                                        var formData = new FormData();
                                        formData.append("fileID", '@Model.Template.FileID');
                                        formData.append("userName", '@Context.User.Identity.Name');
                                        formData.append("keyword", $(this).data("keywordval"));
                                        formData.append("rank", newRankVal);
                                        if ($.isNumeric(newRankVal)) { if ($(this).data("oldrankval") != newRankVal) { $.ajax({ url: '@Url.Action("UpdateRankNumber")', type: 'POST', data: formData, dataType: 'json', contentType: false, processData: false, success: function (result) { console.log(result); }, error: function (result) { console.log(result); } }); } else { alert("Please change the rank value."); }} else { alert("Please enter numbers only."); }
                                    });
                                });
                            </script>
                        }
                    }
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="KeywordCheckerModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-muted">Check Keyword's Term Frequency</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body row">
                            <span class="text-black-50 col-4 col-form-label">Keyword :</span>
                            <div class="col-8">
                                <input class="form-control" name="inputKeyword" value="" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" name="submit" value="Keyword Checking" class="btn btn-outline-primary" />
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Enf of Modal -->

        </div>
    }
</div>

<script>
    $(function () {
        $(".add-tooltip").tooltip();
        $('#_SaveDocType').hide();
        $('#_TemplateDocumentType').on('focus', function (event) { $('#_SaveDocType').show(); });
    });

    function UpdateDocumentTypeValidation(oldDocTye) {
        var docTypeName = $('#_TemplateDocumentType').val().trim();
        if (docTypeName != null && docTypeName != oldDocTye) { return true; }
        return false;
    }
</script>

